@using System.Security.Claims;

@{
    var RoleName = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KinderCare</title>
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/home/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <noscript><link rel="stylesheet" href="~/css/home/noscript.css" /></noscript>

    <!-- Preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body class="is-preload">

<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li id="navInicio"><a href="#dashboard"><i class="fas fa-tachometer-alt nav-icon"></i> <span>Inicio</span></a></li>
                @if (RoleName == "Administrador")
                {
                    <li id="navUsers"><a href="#users"><i class="fas fa-users nav-icon"></i> <span>Gestión de Usuarios</span></a></li>
                    <li id="navEnrollment"><a href="#enrollment"><i class="fas fa-user-graduate nav-icon"></i> <span>Matrículas</span></a></li>
                    <li id="navPayments"><a href="#payments"><i class="fas fa-money-bill-wave nav-icon"></i> <span>Pagos</span></a></li>
                    <li id="navEvents"><a href="#events"><i class="fas fa-calendar-alt nav-icon"></i> <span>Eventos y Actividades</span></a></li>
                    <li id="navReports"><a href="#reports"><i class="fas fa-chart-line nav-icon"></i> <span>Reportes</span></a></li>
                }
                else if (RoleName == "Docente")
                {
                    <li id="navUsers"><a href="#users"><i class="fas fa-users nav-icon"></i> <span>Gestión de Usuarios</span></a></li>
                    <li id="navEnrollment"><a href="#enrollment"><i class="fas fa-user-graduate nav-icon"></i> <span>Matrículas</span></a></li>
                    <li id="navPayments"><a href="#payments"><i class="fas fa-money-bill-wave nav-icon"></i> <span>Pagos</span></a></li>
                    <li id="navEvents"><a href="#events"><i class="fas fa-calendar-alt nav-icon"></i> <span>Eventos y Actividades</span></a></li>
                    <li id="navReports"><a href="#reports"><i class="fas fa-chart-line nav-icon"></i> <span>Reportes</span></a></li>
                }
                else
                {
                    <li id="navEnrollment"><a href="#enrollment"><i class="fas fa-user-graduate nav-icon"></i> <span>Matrículas</span></a></li>
                    <li id="navEvents"><a href="#events"><i class="fas fa-calendar-alt nav-icon"></i> <span>Eventos y Actividades</span></a></li>
                    <li id="navReports"><a asp-action="Index" asp-controller="Ninos"><i class="fas fa-chart-line nav-icon"></i> <span>Ninos</span></a></li>
                }
                <li id="navConfig"><a href="#configuration"><i class="fas fa-cogs nav-icon"></i> <span>Configuración</span></a></li>
                <li id="navLogout"><a href="@Url.Action("LogOut", "Access")"><i class="fas fa-sign-out-alt nav-icon"></i> <span>Cerrar Sesión</span></a></li>
            </ul>
        </nav>
    </div>
</section>

<!-- Wrapper -->
<div id="wrapper">
    @RenderBody()
</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">
            <li>&copy; KinderCare - 2024</li>
            <li>@User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()</li>
            <li>@User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault()</li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="~/js/home/jquery.min.js"></script>
<script src="~/js/home/jquery.scrollex.min.js"></script>
<script src="~/js/home/jquery.scrolly.min.js"></script>
<script src="~/js/home/browser.min.js"></script>
<script src="~/js/home/breakpoints.min.js"></script>
<script src="~/js/home/util.js"></script>
<script src="~/js/home/main.js"></script>
<script src="~/js/home/navScript.js"></script>

</body>
</html>
