<!-- Header -->
<header id="header">
    <a href="@Url.Action("Index", "Home")" class="nav-link">KinderCare</a>
    <nav>
        <ul id="dynamicNav">
            <li class="nav-item home-item">
                <a href="@Url.Action("Index", "Home")" class="nav-link">Home</a>
            </li>

            <!-- User Management Section -->
            <li class="nav-item roles-item" style="display: none;">
                <a href="@Url.Action("ManageRoles", "Users")" class="nav-link">Gestión de Roles</a>
            </li>
            <li class="nav-item profiles-item" style="display: none;">
                <a href="@Url.Action("ManageProfiles", "Users")" class="nav-link">Perfiles de Docentes</a>
            </li>
            <li class="nav-item records-item" style="display: none;">
                <a href="@Url.Action("ManageRecords", "Users")" class="nav-link">Expedientes de Niños</a>
            </li>

            <!-- Enrollment Section -->
            <li class="nav-item enrollment-manage-item" style="display: none;">
                <a href="@Url.Action("ManageEnrollments", "Enrollment")" class="nav-link">Gestión de Matrículas</a>
            </li>
            <li class="nav-item student-profile-item" style="display: none;">
                <a href="@Url.Action("StudentProfile", "Enrollment")" class="nav-link">Perfil de Estudiantes</a>
            </li>
            <li class="nav-item academic-record-item" style="display: none;">
                <a href="@Url.Action("AcademicRecord", "Enrollment")" class="nav-link">Registro Académico</a>
            </li>
            <li class="nav-item attendance-record-item" style="display: none;">
                <a href="@Url.Action("AttendanceRecord", "Enrollment")" class="nav-link">Registro de Asistencia</a>
            </li>
        
            <!-- Payments Section -->
            <li class="nav-item payments-item" style="display: none;">
                <a href="@Url.Action("ManagePayments", "Payments")" class="nav-link">Gestionar Pagos</a>
            </li>
            <li class="nav-item finance-details-item" style="display: none;">
                <a href="@Url.Action("FinanceDetails", "Payments")" class="nav-link">Detalles Financieros</a>
            </li>

            <!-- Events Section -->
            <li class="nav-item events-item" style="display: none;">
                <a href="@Url.Action("Calendar", "Events")" class="nav-link">Calendario de Eventos</a>
            </li>
            <li class="nav-item manage-events-item" style="display: none;">
                <a href="@Url.Action("ManageEvents", "Events")" class="nav-link">Gestionar Eventos</a>
            </li>

            <!-- Reports Section -->
            <li class="nav-item reports-item" style="display: none;">
                <a href="@Url.Action("GenerateReports", "Reports")" class="nav-link">Generación de Reportes</a>
            </li>

            <!-- Configuration Section -->
            <li class="nav-item system-config-item" style="display: none;">
                <a href="@Url.Action("SystemConfig", "Configuration")" class="nav-link">Configuración del Sistema</a>
            </li>
            <li class="nav-item profile-item">
                <a href="@Url.Action("UserProfile", "Configuration")" class="nav-link">Perfil de Usuario</a>
            </li>
        
        </ul>
    </nav>
</header>

<script type="text/javascript">
    let currentSection = '@ViewBag.CurrentSection';
    
    if (currentSection) {
        localStorage.setItem('currentSection', currentSection);
    }
</script>

<script src="~/js/nav/nav.js"></script>
<link rel="stylesheet" href="~/css/navbar/navbar.css">


