
@{
    ViewBag.Title = "Gestión de Perfil";
}

<!-- Breadcrumb con opciones -->
<div class="breadcrumb-with-buttons mb-24 flex-between flex-wrap gap-8">
    <div class="breadcrumb mb-24">
        <ul class="flex-align gap-4">
            <li>
                <a asp-action="Index" asp-controller="Home" class="text-gray-200 fw-normal text-15 hover-text-main-600">Home</a>
            </li>
            <li>
                <span class="text-gray-500 fw-normal d-flex">
                    <i class="ph ph-caret-right"></i>
                </span>
            </li>
            <li>
                <span class="text-main-600 fw-normal text-15">Ajustes de Perfil</span>
            </li>
        </ul>
    </div>
</div>


<div class="dashboard-body">
    <!-- Breadcrumb End -->

    <div class="card overflow-hidden">
        <div class="card-body p-0">
            <div class="cover-img position-relative">
                <label for="coverImageUpload"
                       class="btn border-gray-200 text-gray-200 fw-normal hover-bg-gray-400 rounded-pill py-4 px-14 position-absolute inset-block-start-0 inset-inline-end-0 mt-24 me-24">Edit
                    Cover</label>
                <div class="avatar-upload">
                    <input type='file' id="coverImageUpload" accept=".png, .jpg, .jpeg">
                    <div class="avatar-preview">
                        <div id="coverImagePreview"
                             style="background: rgb(45, 156, 219); background: linear-gradient(180deg, rgba(45, 156, 219, 0.5) 0%, rgba(45, 156, 219, 0) 70%);">
                        </div>
                    </div>
                </div>
            </div>

            <div class="setting-profile px-24">
                <div class="flex-between">
                    <div class="d-flex align-items-end flex-wrap mb-32 gap-24">
                        <img src="~/images/icons/profile_icon_2.png" alt=""
                             class="w-120 h-120 rounded-circle border border-white">
                        <div>
                            <h4 class="mb-8">@Model.Nombre</h4>
                            <div class="setting-profile__infos flex-align flex-wrap gap-16">
                                <div class="flex-align gap-6">
                                <span class="text-gray-600 d-flex text-lg">
                                    <i class="ph ph-swatches"></i>
                                </span>
                                    <span class="text-gray-600 d-flex text-15">@Model.Cedula</span>
                                </div>
                                <div class="flex-align gap-6">
                                <span class="text-gray-600 d-flex text-lg">
                                    <i class="ph ph-map-pin"></i>
                                </span>
                                    <span class="text-gray-600 d-flex text-15">@Model.Direccion</span>
                                </div>
                                <div class="flex-align gap-6">
                                <span class="text-gray-600 d-flex text-lg">
                                    <i class="ph ph-calendar-dots"></i>
                                </span>
                                    <span
                                        class="text-gray-600 d-flex text-15">@Model.FechaCreacion.ToString("dd/MM/yyyy")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav common-tab style-two nav-pills mb-0" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-details-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-details" type="button" role="tab" aria-controls="pills-details"
                                aria-selected="true">Detalles
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-edit-tab" data-bs-toggle="pill" data-bs-target="#pills-edit"
                                type="button" role="tab" aria-controls="pills-edit" aria-selected="false">Editar
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-password-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-password" type="button" role="tab" aria-controls="pills-password"
                                aria-selected="false">Contraseña
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-notification-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-notification" type="button" role="tab"
                                aria-controls="pills-notification" aria-selected="false">Notificaciones
                        </button>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="tab-content" id="pills-tabContent">

        <!-- My Details Tab start -->
        <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab"
             tabindex="0">
            <div class="card mt-24">
                <div class="card-header border-bottom">
                    <h4 class="mb-4">Detalles</h4>
                </div>
                <div class="card-body">
                    <div class="row gy-4">

                        <!-- Numero de Correo Electronico -->
                        <h6 class="mb-8">Correo Electronico:</h6>
                        <p>@Model.CorreoElectronico</p>

                        <!-- Numero de Telefono -->
                        <h6 class="mb-8">Numero de Telefono:</h6>
                        <p>@Model.NumTelefono</p>

                        <!-- Rol del Usuario -->
                        <h6 class="mb-8">Tipo de Usuario:</h6>
                        <p>@Model.IdRolNavigation.Nombre</p>

                    </div>
                </div>
            </div>
        </div>
        <!-- My Details Tab End -->
        
        <!-- Sección de Cambio de Contraseña -->
        <div class="tab-pane fade show " id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab"
             tabindex="0">
            <div class="card mt-24">
                <div class="card-header border-bottom">
                    <h4 class="mb-4">Configuración de Contraseña</h4>
                    <p class="text-gray-600 text-15">Por favor, completa los detalles para cambiar tu contraseña.</p>
                </div>

                @if (ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success">
                        <span>@ViewBag.SuccessMessage</span>
                    </div>
                }

                <div class="card-body">
                    <form method="post" action="@Url.Action("SaveProfile", "Configuration")">
                        <div class="row gy-4">
                            <!-- Contraseña Actual -->
                            <div class="mb-4">
                                <label for="currentPassword" class="form-label">Contraseña Actual</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control py-11 ps-40" id="currentPassword"
                                           placeholder="Ingrese su contraseña actual"/>
                                    <span
                                        class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex">
                                        <i class="ph ph-eye-slash toggle-password" data-target="#currentPassword"></i>
                                    </span>
                                </div>
                            </div>
                            @if (ViewData.ModelState["CurrentPassword"]?.Errors?.Count > 0)
                            {
                                <div class="alert alert-danger">
                                    <span>@ViewData.ModelState["CurrentPassword"].Errors[0].ErrorMessage</span>
                                </div>
                            }

                            <!-- Nueva Contraseña -->
                            <div class="mb-4">
                                <label for="newPassword" class="form-label">Nueva Contraseña</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control py-11 ps-40" id="newPassword"
                                           placeholder="Ingrese la nueva contraseña"/>
                                    <span
                                        class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex">
                                        <i class="ph ph-eye-slash toggle-password" data-target="#newPassword"></i>
                                    </span>
                                </div>
                            </div>
                            @if (ViewData.ModelState["NewPassword"]?.Errors?.Count > 0)
                            {
                                <div class="alert alert-danger">
                                    <span>@ViewData.ModelState["NewPassword"].Errors[0].ErrorMessage</span>
                                </div>
                            }

                            <!-- Confirmar Nueva Contraseña -->
                            <div class="mb-4">
                                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control py-11 ps-40" id="confirmPassword"
                                           placeholder="Confirme la nueva contraseña"/>
                                    <span
                                        class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex">
                                        <i class="ph ph-eye-slash toggle-password" data-target="#confirmPassword"></i>
                                    </span>
                                </div>
                            </div>
                            @if (ViewData.ModelState["ConfirmPassword"]?.Errors?.Count > 0)
                            {
                                <div class="alert alert-danger">
                                    <span>@ViewData.ModelState["ConfirmPassword"].Errors[0].ErrorMessage</span>
                                </div>
                            }

                            <!-- Requisitos de Contraseña -->
                            <div class="col-12">
                                <label class="form-label mb-8 h6">Requisitos de Contraseña:</label>
                                <ul class="list-inside">
                                    <li class="text-gray-600 mb-4">Al menos un carácter en minúscula</li>
                                    <li class="text-gray-600 mb-4">Mínimo 8 caracteres y máximo 25 caracteres</li>
                                    <li class="text-gray-600 mb-4">Al menos un número o símbolo</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Botones de Acción -->
                        <div class="flex-align justify-content-end gap-8">
                            <button type="reset"
                                    class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-9">
                                Cancelar
                            </button>
                            <button type="submit" class="btn btn-main rounded-pill py-9">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Password Tab End -->


        <!-- Notification Tab Start -->
        <div class="tab-pane fade" id="pills-notification" role="tabpanel" aria-labelledby="pills-notification-tab"
             tabindex="0">
            <div class="card mt-24">
                <div class="card-header border-bottom">
                    <h4 class="mb-4">Notifiction Settings</h4>
                    <p class="text-gray-600 text-15">We may still send you important notification about your account
                        outside of your notification settings.</p>
                </div>
                <div class="card-body">
                    <div class="pt-24 pb-24 border-bottom border-gray-100">
                        <div class="row gy-4">
                            <div class="col-sm-6 col-xs-6">
                                <h6 class="mb-8">Pagos</h6>
                                <p class="max-w-280 text-gray-600 text-13">These are notifications for comments on your
                                    posts and replies to your comments</p>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="form-switch switch-primary d-flex align-items-center gap-8 mb-16">
                                    <input class="form-check-input" type="checkbox" role="switch" id="switch2" checked>
                                    <label class="form-check-label line-height-1 fw-medium text-secondary-light"
                                           for="switch2">Email</label>
                                </div>
                                <div class="form-switch switch-primary d-flex align-items-center gap-8 mb-16">
                                    <input class="form-check-input" type="checkbox" role="switch" id="switch3" checked>
                                    <label class="form-check-label line-height-1 fw-medium text-secondary-light"
                                           for="switch3">SMS</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="flex-align justify-content-end gap-8">
                        <button type="reset"
                                class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-9">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-main rounded-pill py-9">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Notification Tab End -->

    </div>
</div>

<script>
    // Seleccionar todos los íconos de ojo
    const togglePasswordIcons = document.querySelectorAll('.toggle-password');

    // Función para alternar la visibilidad de la contraseña
    togglePasswordIcons.forEach(icon => {
        icon.addEventListener('click', () => {
            const targetInput = document.querySelector(icon.getAttribute('data-target'));

            if (targetInput.type === 'password') {
                targetInput.type = 'text';
                icon.classList.remove('ph-eye-slash');
                icon.classList.add('ph-eye');
            } else {
                targetInput.type = 'password';
                icon.classList.remove('ph-eye');
                icon.classList.add('ph-eye-slash');
            }
        });
    });
</script>


<!-- Asegúrate de incluir las referencias a los scripts de validación -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>