@model IEnumerable<kinder_care.Models.Docentes>

@{
    ViewBag.Title = "Gestión de Perfiles de Docentes";
}

<link rel="stylesheet" href="~/css/tables/tables.css">


<!-- Breadcrumb -->
<div class="breadcrumb-with-buttons mb-24 flex-between flex-wrap gap-8">
    <div class="breadcrumb mb-24">
        <ul class="flex-align gap-4">
            <li>
                <a asp-action="Index" asp-controller="Home"
                   class="text-gray-200 fw-normal text-15 hover-text-main-600">
                    Inicio
                </a>
            </li>
            <li>
                <span class="text-gray-500 fw-normal d-flex">
                    <i class="ph ph-caret-right"></i>
                </span>
            </li>
            <li>
                <span class="text-main-600 fw-normal text-15">Docentes</span>
            </li>
        </ul>
    </div>
</div>

<!-- Buscadores -->
<div class="mb-4 d-flex gap-3 flex-wrap">
    <div class="position-relative">
        <input type="text" id="searchByName" placeholder="Buscar por Nombre..." 
               class="form-control ps-40 h-40 rounded-pill search-input"/>
        <i class="ph ph-magnifying-glass position-absolute" 
           style="left: 10px; top: 10px; font-size: 20px; color: #aaa;"></i>
    </div>
    <div class="position-relative">
        <input type="text" id="searchByID" placeholder="Buscar por ID..." 
               class="form-control ps-40 h-40 rounded-pill search-input"/>
        <i class="ph ph-magnifying-glass position-absolute" 
           style="left: 10px; top: 10px; font-size: 20px; color: #aaa;"></i>
    </div>
    <div class="position-relative">
        <input type="text" id="searchByCedula" placeholder="Buscar por Cédula..." 
               class="form-control ps-40 h-40 rounded-pill search-input"/>
        <i class="ph ph-magnifying-glass position-absolute" 
           style="left: 10px; top: 10px; font-size: 20px; color: #aaa;"></i>
    </div>
</div>

<div class="card overflow-hidden mt-24">
    <div class="card-body p-0 overflow-x-auto">
        <table id="teacherTable" class="table table-striped" style="display: none">
            <thead>
            <tr>
                <th data-column="name" class="h5 text-gray-300">Nombre</th>
                <th data-column="id_usuario" class="h5 text-gray-300">ID</th>
                <th data-column="cedula" class="h5 text-gray-300">Cédula</th>
                <th class="h5 text-gray-300">Correo Electrónico</th>
                <th class="h5 text-gray-300">Teléfono</th>
                <th class="h5 text-gray-300">Acciones</th>
            </tr>
            </thead>
            <tr id="noResultsRow" class="d-none">
                <td colspan="8" class="text-center text-gray-500">No se encontraron resultados.</td>
            </tr>
            <tbody>
            @if (Model.Any())
            {
                @foreach (var docente in Model)
                {
                    <tr>
                        <td data-column="name">
                            <div class="flex-align gap-8">
                                <img src="~/images/icons/teacher_icon.svg" alt="Imagen del docente"
                                     class="w-40 h-40 rounded-circle">
                                <span class="h6 mb-0 fw-medium text-gray-300">@docente.IdUsuarioNavigation.Nombre</span>
                            </div>
                        </td>
                        <td data-column="id_usuario">
                            <span class="h6 mb-0 fw-medium text-gray-300">@docente.IdDocente</span>
                        </td>
                        <td data-column="cedula">
                            <span class="h6 mb-0 fw-medium text-gray-300">@docente.IdUsuarioNavigation.Cedula</span>
                        </td>
                        <td>
                            <span class="h6 mb-0 fw-medium text-gray-300">@docente.IdUsuarioNavigation.CorreoElectronico</span>
                        </td>
                        <td>
                            <span class="h6 mb-0 fw-medium text-gray-300">@docente.IdUsuarioNavigation.NumTelefono</span>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@docente.IdDocente"
                               class="bg-main-50 text-main-600 py-2 px-14 rounded-pill hover-bg-main-600 hover-text-white">
                                Ver Más
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<!-- Paginación -->
<div class="card-footer flex-between flex-wrap mt-15">
    <span id="infoContainer" class="text-gray-900"></span>
    <select id="entriesSelect" class="form-select custom-dropdown">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
    <ul class="pagination flex-align flex-wrap"></ul>
</div>

<script src="~/js/tables/admin/docentes.js"></script>



