@model IEnumerable<kinder_care.Models.Docentes>

@{
    ViewBag.Title = "Gestión de Perfiles de Docentes";
    Layout = "_SecondaryLayout";
}

<section id="manageRoles" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h2>Gestión de Roles</h2>
        <p>Administra los roles de los usuarios en el sistema, asignando o removiendo permisos según sea necesario.</p>

        <!-- Cuadro de Búsqueda -->
        <div class="row">
            <div class="col-12">
                <input type="text" id="searchInput" placeholder="Buscar por Nombre, Email, Teléfono, Materia o Grupo..." onkeyup="filterTable()"> <!-- llamar al filterTable.js -->
            </div>
        </div>
        <hr>
        <ul class="actions">
            <li><a asp-action="Index" asp-controller="Home" class="button primary">Regresar</a></li>
        </ul>
        <hr>
        <div class="table-wrapper">
            <table id="profilesTable">
                <thead>
                    <tr>
                        <th>Nombre Usuario</th>
                        <th>Numero Telefono</th>
                        <th>Direccion</th>
                        <th>Correo</th>
                        <th>Grupo</th>
                        <th>Fecha Nacimiento</th>
                        <th>Fecha de Creacion</th>
                        <th>Ultima Actualizacion</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.NumTelefono)</td>
                            <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Direccion)</td>
                            <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.CorreoElectronico)</td>
                            <td>@Html.DisplayFor(modelItem => item.GrupoAsignado)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaCreacion)</td>
                            <td>@Html.DisplayFor(modelItem => item.UltimaActualizacion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Activo)</td>
                            <td>
                                <button class="btn btn-primary" type="submit">
                                    <a asp-action="Edit" asp-route-id="@item.IdDocente">Edit</a>
                                </button>
                                <button class="btn btn-primary" type="submit">
                                    <a asp-action="Details" asp-route-id="@item.IdDocente">Details</a>
                                </button>
                                <button class="btn btn-primary" type="submit">
                                    <a asp-action="Delete" asp-route-id="@item.IdDocente">Delete</a>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/functions/filterTable.js"></script>
}