@model IEnumerable<Ninos>

<div class="breadcrumb-with-buttons mb-24 flex-between flex-wrap gap-8">
    <!-- Breadcrumb Start -->
    <div class="breadcrumb mb-24">
        <ul class="flex-align gap-4">
            <li>
                <a asp-action="Index" asp-controller="Home" class="text-gray-200 fw-normal text-15 hover-text-main-600">Inicio</a>
            </li>
            <li>
                <span class="text-gray-500 fw-normal d-flex">
                    <i class="ph ph-caret-right"></i>
                </span>
            </li>
            <li>
                <span class="text-main-600 fw-normal text-15">Hijos</span>
            </li>
        </ul>
    </div>
    <!-- Breadcrumb End -->

    <!-- Breadcrumb Right Start -->
    <div class="flex-align gap-8 flex-wrap">
        <div class="position-relative text-gray-500 flex-align gap-4 text-13">
            <span class="text-inherit">Buscar por: </span>
            <div class="flex-align text-gray-500 text-13 border border-gray-100 rounded-4 ps-20 focus-border-main-600 bg-white">
                <span class="text-lg">
                    <i class="ph ph-funnel-simple"></i>
                </span>
                <select class="form-control ps-8 pe-20 py-16 border-0 text-inherit rounded-4 text-center">
                    <option value="1" selected>Popular</option>
                    <option value="1">Mas recientes</option>
                    <option value="1">Mas buscados</option>
                    <option value="1">Similares</option>
                </select>
            </div>
        </div>
        <div class="flex-align text-gray-500 text-13 border border-gray-100 rounded-4 ps-20 focus-border-main-600 bg-white">
            <span class="text-lg">
                <i class="ph ph-layout"></i>
            </span>
            <select class="form-control ps-8 pe-20 py-16 border-0 text-inherit rounded-4 text-center" id="exportOptions">
                <option value="" selected disabled>Exportar</option>
                <option value="csv">CSV</option>
                <option value="json">JSON</option>
            </select>
        </div>
    </div>
    <!-- Breadcrumb Right End -->
</div>

<!-- Verificar si hay un mensaje en ViewBag y mostrarlo -->
@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-warning">
        @ViewBag.Mensaje
    </div>
}
else
{
    <div class="card overflow-hidden">
        <div class="card-body p-0 overflow-x-auto">
            <table id="studentTable" class="table table-striped">
                <thead>
                <tr>
                    <th class="h6 text-gray-300">ID</th>
                    <th class="h6 text-gray-300">Cedula</th>
                    <th class="h6 text-gray-300">Estudiante</th>
                    <th class="h6 text-gray-300">Poliza</th>
                    <th class="h6 text-gray-300">Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var nino in Model)
                {
                    <tr>
                        <td>
                            <div class="flex-align gap-8">
                                <img src="~/images/icons/baby_1_icon.png" alt="Imagen del niño" class="w-40 h-40 rounded-circle">
                                <span class="h6 mb-0 fw-medium text-gray-300">@nino.IdNino</span>
                            </div>
                        </td>
                        <td>
                            <span class="h6 mb-0 fw-medium text-gray-300">@nino.Cedula</span>
                        </td>
                        <td>
                            <span class="h6 mb-0 fw-medium text-gray-300">@nino.NombreNino</span>
                        </td>
                        <td>
                            <span class="h6 mb-0 fw-medium text-gray-300">@nino.Poliza</span>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@nino.IdNino" class="bg-main-50 text-main-600 py-2 px-14 rounded-pill hover-bg-main-600 hover-text-white">Ver Más</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer flex-between flex-wrap">
        <span class="text-gray-900">Mostrando del 1 al 10 de @Model.Count() entrantes</span>
        <ul class="pagination flex-align flex-wrap">
            <!-- Aquí puedes agregar la lógica de paginación si lo necesitas -->
        </ul>
    </div>
}
