@model kinder_care.Models.ViewModels.RelacionDocenteNinosVM

<!-- Breadcrumb Start -->
<div class="breadcrumb mb-24">
    <ul class="flex-align gap-4">
        <li>
            <a asp-action="Index" asp-controller="Home" class="text-gray-200 fw-normal text-15 hover-text-main-600">Inicio</a>
        </li>
        <li>
            <span class="text-gray-500 fw-normal d-flex">
                <i class="ph ph-caret-right"></i>
            </span>
        </li>
        <li>
            <a asp-action="ListaNinos" asp-controller="Asistencia"
               class="text-gray-200 fw-normal text-15 hover-text-main-600">Estudiantes</a>
        </li>
        <li>
            <span class="text-gray-500 fw-normal d-flex">
                <i class="ph ph-caret-right"></i>
            </span>
        </li>
        <li>
            <span class="text-main-600 fw-normal text-15">Asignar Alumnos</span>
        </li>
    </ul>
</div>
<!-- Breadcrumb End -->
<div class="card overflow-hidden">
    <div class="card-body p-0">
        <div class="cover-img position-relative">
            <div class="avatar-preview">
                <div
                    style="background: rgb(219,162,0); background: linear-gradient(180deg, rgba(219,162,0,0.5041666324733018) 0%, rgba(219,162,0,0) 70%);">
                </div>
            </div>
        </div>

        <div class="setting-profile px-24" style="margin-top: 10px">
            <div class="flex-between">
                <div class="d-flex align-items-end flex-wrap mb-32 gap-24">
                    <img src="~/images/icons/Registro_logo.png" alt="Docente"
                         class="w-90 h-90 rounded-circle border border-white">
                    <div>
                        <h4 class="mb-8">Docente: @(Model.UsuarioNombre)</h4>
                        <div class="setting-profile__infos flex-align flex-wrap gap-16">
                            <div class="flex-align gap-6">
                                <span class="text-gray-600 d-flex text-lg">
                                    <i class="ph ph-id-card"></i>
                                </span>
                                <span class="text-gray-600 d-flex text-15">@(Model.UsuarioCedula)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (!Model.Ninos.Any())
{
    <div class="alert alert-info">
        <strong>No hay estudiantes disponibles para asignar.</strong>
    </div>
}
else
{
    <div class="tab-content" id="pills-tabContent">
        <!-- My Details Tab start -->
        <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab"
             tabindex="0">
            <div class="card mt-24">
                <div class="card-header border-bottom">
                    <h4 class="mb-4">Estudiantes sin grupo</h4>
                    <p class="text-gray-600 text-15">Seleccione los estudiantes a los que quiere educar.</p>
                </div>
                <div class="card-body p-0 overflow-x-auto">
                    <form asp-action="CrearGrupo" method="post">
                        <input type="hidden" asp-for="IdDocente"/>

                        <table id="studentTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th class="h6 text-gray-300">ID</th>
                                <th class="h6 text-gray-300">Cédula</th>
                                <th class="h6 text-gray-300">Estudiante</th>
                                <th class="h6 text-gray-300">Seleccionar</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var nino in Model.Ninos)
                            {
                                <tr>
                                    <td>
                                        <div class="flex-align gap-8">
                                            <img src="~/images/icons/baby_1_icon.png" alt="Imagen del niño"
                                                 class="w-40 h-40 rounded-circle">
                                            <span class="h6 mb-0 fw-medium text-gray-300">@nino.IdNino</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="h6 mb-0 fw-medium text-gray-300">@nino.Cedula</span>
                                    </td>
                                    <td>
                                        <span class="h6 mb-0 fw-medium text-gray-300">@nino.NombreNino</span>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="Ninos" value="@nino.IdNino"/>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-end mt-3 gap-2">
                            <a asp-action="ListaNinos"
                               class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-9">Cancelar</a>
                            <button type="submit" class="btn btn-main rounded-pill py-9">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}