@model IEnumerable<Asistencia>

<link rel="stylesheet" href="~/css/tables/tables.css">

<!-- Breadcrumb -->
<div class="breadcrumb-with-buttons mb-24 flex-between flex-wrap gap-8">
    <div class="breadcrumb mb-24">
        <ul class="flex-align gap-4">
            <li>
                <a asp-action="Index" asp-controller="Home"
                   class="text-gray-200 fw-normal text-15 hover-text-main-600">
                    Inicio
                </a>
            </li>
            <li>
                <span class="text-gray-500 fw-normal d-flex">
                    <i class="ph ph-caret-right"></i>
                </span>
            </li>
            <li>
                <span class="text-main-600 fw-normal text-15">Historial de Asistencias</span>
            </li>
        </ul>
    </div>
</div>

<!-- Formulario de filtros -->
<form asp-action="ListaAsistencia_Admin" method="get" class="card mb-24 p-16">
    <div class="row">
        <div class="col-md-4">
            <label for="fechaInicio" class="form-label">Fecha Inicio</label>
            <input type="date" name="fechaInicio" id="fechaInicio" class="form-control"
                   value="@ViewBag.FechaInicio"/>
        </div>
        <div class="col-md-4">
            <label for="fechaFin" class="form-label">Fecha Fin</label>
            <input type="date" name="fechaFin" id="fechaFin" class="form-control"
                   value="@ViewBag.FechaFin"/>
        </div>
        <div class="col-md-4">
            <label for="IdNivel">Grado:</label>
            <select name="idNivel" class="form-select">
                <option value="">Todos</option>
                @foreach (var nivel in ViewBag.Niveles)
                {
                    <option value="@nivel.IdNivel">
                        @nivel.Nombre
                    </option>
                }
            </select>
        </div>

        <div class="row mt-10">
            <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-primary w-100">Filtrar</button>
            </div>
        </div>
    </div>
</form>

<!-- Tabla -->
<div class="card overflow-hidden mt-24">
    <div class="card-body p-0 overflow-x-auto">
        <table id="attendanceTable" class="table table-striped">
            <thead>
            <tr>
                <th data-column="id_usuario" class="h5 text-gray-300">ID Niño</th>
                <th data-column="name" class="h5 text-gray-300">Estudiante</th>
                <th class="h5 text-gray-300">Grado</th>
                <th class="h5 text-gray-300">Fecha</th>
                <th class="h5 text-gray-300">Presente</th>
            </tr>
            </thead>
            <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="4" class="text-center text-gray-500">No se encontraron registros.</td>
                </tr>
            }
            else
            {
                @foreach (var asistencia in Model)
                {
                    <tr>
                        <td data-column="id_usuario">
                            <div class="flex-align gap-8">
                                <img src="~/images/icons/id.png" alt="Imagen del niño"
                                     class="w-40 h-40 rounded-circle"/>
                                <span class="h6 mb-0 fw-medium text-gray-300">@asistencia.IdNino</span>
                            </div>
                        </td>
                        <td data-column="name">
                            <span class="h6 mb-0 fw-medium text-gray-300">@asistencia.IdNinoNavigation.NombreNino</span>
                        </td>
                        <td data-column="name">
                            <span class="h6 mb-0 fw-medium text-gray-300">@asistencia.IdNinoNavigation.IdNivelNavigation.Nombre</span>
                        </td>
                        <td>
                            <span
                                class="h6 mb-0 fw-medium text-gray-300">@asistencia.Fecha.ToString("yyyy-MM-dd")</span>
                        </td>
                        <td>
                                <span class="h6 mb-0 fw-medium @(asistencia.Presente ? "text-success" : "text-danger")">
                                    @(asistencia.Presente ? "Presente" : "Ausente")
                                </span>
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Ninos" asp-route-id="@asistencia.IdNino"
                                   class="bg-main-50 text-main-600 py-2 px-14 rounded-pill hover-bg-main-600 hover-text-white">
                                    Ver
                                    Más
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<!-- Paginación -->
<div class="card-footer flex-between flex-wrap mt-15">
    <span id="infoContainer" class="text-gray-900"></span>
    <select id="entriesSelect" class="form-select custom-dropdown">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
    <ul class="pagination flex-align flex-wrap"></ul>
</div>

<!-- Botón para generar PDF -->
<div class="card-footer flex-between flex-wrap mt-15 justify-content-end">
    <form asp-action="GenerarReportePdf" asp-controller="Asistencia" method="get">
        <input type="hidden" name="fechaInicio" value="@ViewBag.FechaInicio"/>
        <input type="hidden" name="fechaFin" value="@ViewBag.FechaFin"/>
        <button type="submit" class="btn btn-primary">Generar PDF</button>
    </form>
</div>

<script src="~/js/tables/admin/lista-asistencia-admin.js"></script>