@model IEnumerable<Ninos>

<link rel="stylesheet" href="~/css/tables/tables.css">

<!-- Breadcrumb -->
<div class="breadcrumb-with-buttons mb-24 flex-between flex-wrap gap-8">
    <div class="breadcrumb mb-24">
        <ul class="flex-align gap-4">
            <li>
                <a asp-action="Index" asp-controller="Home"
                   class="text-gray-200 fw-normal text-15 hover-text-main-600">
                    Inicio
                </a>
            </li>
            <li>
                <span class="text-gray-500 fw-normal d-flex">
                    <i class="ph ph-caret-right"></i>
                </span>
            </li>
            <li>
                <span class="text-main-600 fw-normal text-15">Estudiantes</span>
            </li>
        </ul>
    </div>

    <!-- Breadcrumb Right Start -->
    <div class="flex-align gap-8 flex-wrap">
        <a asp-action="AsignarAlumnos" asp-controller="Asistencia"
           class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 hover-bg-main-600 hover-text-white" >
            Alumnos
        </a>
        <a asp-action="ControlAsistencias" asp-controller="Asistencia"
           class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 hover-bg-main-600 hover-text-white">
            Realizar una Asistencia
        </a>
    </div>
    <!-- Breadcrumb Right End -->
</div>

<!-- Buscadores -->
<div class="mb-4 d-flex gap-3 flex-wrap">
    <div class="position-relative">
        <input type="text" id="searchByName" placeholder="Buscar por nombre..."
               class="form-control ps-40 h-40 rounded-pill search-input"/>
        <i class="ph ph-magnifying-glass position-absolute"
           style="left: 10px; top: 10px; font-size: 20px; color: #aaa;"></i>
    </div>
    <div class="position-relative">
        <input type="text" id="searchByID" placeholder="Buscar por ID..."
               class="form-control ps-40 h-40 rounded-pill search-input"/>
        <i class="ph ph-magnifying-glass position-absolute"
           style="left: 10px; top: 10px; font-size: 20px; color: #aaa;"></i>
    </div>
    <div class="position-relative">
        <input type="text" id="searchByCedula" placeholder="Buscar por cédula..."
               class="form-control ps-40 h-40 rounded-pill search-input"/>
        <i class="ph ph-magnifying-glass position-absolute"
           style="left: 10px; top: 10px; font-size: 20px; color: #aaa;"></i>
    </div>
    <div class="position-relative">
        <input type="text" id="searchByGrado" placeholder="Buscar por grado..."
               class="form-control ps-40 h-40 rounded-pill search-input" />
        <i class="ph ph-magnifying-glass position-absolute"
           style="left: 10px; top: 10px; font-size: 20px; color: #aaa;"></i>
    </div>
</div>



<!-- Tabla -->
<div class="card overflow-hidden mt-24">
    <div class="card-body p-0 overflow-x-auto">
        <table id="studentsTable" class="table table-striped" style="display: none">
            <thead>
            <tr>
                <th data-column="name" class="h5 text-gray-300">Estudiante</th>
                <th data-column="id_usuario" class="h5 text-gray-300">ID</th>
                <th data-column="cedula" class="h5 text-gray-300">Cédula</th>
                <th data-column="grado" class="h5 text-gray-300">Grado</th>
                <th class="h5 text-gray-300">Fecha de Nacimiento</th>
                <th class="h5 text-gray-300">Estado</th>
                <th class="h5 text-gray-300">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr id="noResultsRow" class="d-none">
                <td colspan="8" class="text-center text-gray-500">No se encontraron resultados.</td>
            </tr>
            @if (Model.Any())
            {
                @foreach (var estudiante in Model)
                {
                    <tr>
                        <td data-column="name">
                            <div class="flex-align gap-8">
                                <img src="~/images/icons/baby_2_icon.png" alt="Imagen del niño"
                                     class="w-40 h-40 rounded-circle">
                                <span class="h6 mb-0 fw-medium text-gray-300">@estudiante.NombreNino</span>
                            </div>
                        </td>
                        <td data-column="id_usuario">
                            <span class="h6 mb-0 fw-medium text-gray-300">@estudiante.IdNino</span>
                        </td>
                        <td data-column="cedula">
                            <span class="h6 mb-0 fw-medium text-gray-300">@estudiante.Cedula</span>
                        </td>
                        <td data-column="grado">
                            <span class="h6 mb-0 fw-medium text-gray-300">@estudiante.IdNivelNavigation.Nombre</span>
                        </td>
                        <td>
                            <span
                                class="h6 mb-0 fw-medium text-gray-300">@estudiante.FechaNacimiento.ToString("dd/MM/yyyy")</span>
                        </td>
                        <td>
                            <span
                                class="h6 mb-0 fw-medium text-gray-300">@((bool)estudiante.Activo! ? "Activo" : "Inactivo")</span>
                        </td>
                        <td>
                            <a asp-action="Details_Docente" asp-controller="Ninos" asp-route-id="@estudiante.IdNino"
                                 class="bg-main-50 text-main-600 py-2 px-14 rounded-pill hover-bg-main-600 hover-text-white">
                                 Ver
                                 Más
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<!-- Paginación -->
<div class="card-footer flex-between flex-wrap mt-15">
    <span id="infoContainer" class="text-gray-900"></span>
    <select id="entriesSelect" class="form-select custom-dropdown">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
    <ul class="pagination flex-align flex-wrap"></ul>
</div>

<script src="~/js/tables/docentes/lista-ninos.js"></script>