@model Usuarios

<!-- Breadcrumb Start -->
<div class="breadcrumb mb-24">
    <ul class="flex-align gap-4">
        <li>
            <a asp-action="Index" asp-controller="Home" class="text-gray-200 fw-normal text-15 hover-text-main-600">Inicio</a>
        </li>
        <li>
            <span class="text-gray-500 fw-normal d-flex">
                <i class="ph ph-caret-right"></i>
            </span>
        </li>
        <li>
            <span class="text-main-600 fw-normal text-15">Detalles Usuario</span>
        </li>
    </ul>
</div>
<!-- Breadcrumb End -->

<div class="card overflow-hidden">
    <div class="card-body p-0">
        <div class="cover-img position-relative">
            <div class="avatar-upload">
                <input type="file" id="coverImageUpload" accept=".png, .jpg, .jpeg">
                <div class="avatar-preview">
                    <div id="coverImagePreview"
                         style="background: rgb(0,141,219); background: linear-gradient(180deg, rgba(0,141,219,0.5041666324733018) 0%, rgba(0,170,219,0) 76%);">
                    </div>
                </div>
            </div>
        </div>

        <div class="setting-profile px-24">
            <div class="flex-between">
                <div class="d-flex align-items-end flex-wrap mb-32 gap-24">
                    <img src="~/images/icons/profile_icon_2.png" alt=""
                         class="w-120 h-120 rounded-circle border border-white">
                    <div>
                        <h4 class="mb-8">@Model.Nombre</h4>
                        <div class="setting-profile__infos flex-align flex-wrap gap-16">
                            <div class="flex-align gap-6">
                                <span class="text-gray-600 d-flex text-lg">
                                    <i class="ph ph-swatches"></i>
                                </span>
                                <span class="text-gray-600 d-flex text-15">@Model.Cedula</span>
                            </div>
                            <div class="flex-align gap-6">
                                <span class="text-gray-600 d-flex text-lg">
                                    <i class="ph ph-map-pin"></i>
                                </span>
                                <span class="text-gray-600 d-flex text-15">@Model.Direccion</span>
                            </div>
                            <div class="flex-align gap-6">
                                <span class="text-gray-600 d-flex text-lg">
                                    <i class="ph ph-calendar-dots"></i>
                                </span>
                                <span
                                    class="text-gray-600 d-flex text-15">
                                    @Model.FechaCreacion.ToString("dd/MM/yyyy")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav common-tab style-two nav-pills mb-0" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-details-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-details" type="button" role="tab" aria-controls="pills-details"
                            aria-selected="true">
                        Detalles
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-edit-tab" data-bs-toggle="pill" data-bs-target="#pills-edit"
                            type="button" role="tab" aria-controls="pills-edit" aria-selected="false">
                        Editar
                    </button>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="tab-content" id="pills-tabContent">
    <!-- My Details Tab start -->
    <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab"
         tabindex="0">
        <div class="card mt-24">
            <div class="card-header border-bottom">
                <h4 class="mb-4">Detalles</h4>
            </div>
            <div class="card-body">
                <div class="row gy-4">

                    <ul>
                        <li class="flex-align gap-6 text-black text-15 mb-12">
                            <span class="flex-shrink-0 text-22 d-flex text-main-600">
                                <img style="height: 20px; width: 20px"
                                     src="~/images/icons/Email_icon.svg"
                                     alt="Fecha_asignada_icono"/>
                            </span>

                            <p>
                                <strong>Correo Electronico: </strong>
                            </p>
                            @Model.CorreoElectronico
                        </li>
                        <li class="flex-align gap-6 text-black text-15 mb-12">
                            <span class="flex-shrink-0 text-22 d-flex text-main-600">
                                <img style="height: 20px; width: 20px"
                                     src="~/images/icons/Tel_icon.svg" alt="Fecha_entrega_icono"/>
                            </span>

                            <p>
                                <strong>Telefono: </strong>
                            </p>
                            @Model.NumTelefono
                        </li>
                        <li class="flex-align gap-6 text-black text-15 mb-12">
                            <span class="flex-shrink-0 text-22 d-flex text-main-600">
                                <img style="height: 20px; width: 20px"
                                     src="~/images/icons/Role_icon.svg" alt="Fecha_entrega_icono"/>
                            </span>

                            <p>
                                <strong>Rol: </strong>
                            </p>
                            @Model.IdRolNavigation.Nombre
                        </li>
                        @if (ViewBag.RoleName == "Administrador")
                        {
                            <li class="flex-align gap-6 text-black text-15 mb-12">
                                @if (Model.Activo)
                                {
                                    <span class="flex-shrink-0 text-22 d-flex text-main-600">
                                        <img style="height: 20px; width: 20px"
                                             src="~/images/icons/Active_icon.svg" alt="Fecha_entrega_icono"/>
                                    </span>
                                }
                                else
                                {
                                    <span class="flex-shrink-0 text-22 d-flex text-main-600">
                                        <img style="height: 20px; width: 20px"
                                             src="~/images/icons/Inactive_icon.svg" alt="Fecha_entrega_icono"/>
                                    </span>
                                }

                                <p>
                                    <strong>Estado: </strong>
                                </p>
                                @if (Model.Activo)
                                {
                                    <p>Usuario Activo</p>
                                }
                                else
                                {
                                    <p>Usuario Inactivo</p>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- My Details Tab End -->

    <!-- Editar Tab Start -->
    <div class="tab-pane fade" id="pills-edit" role="tabpanel" aria-labelledby="pills-edit-tab" tabindex="0">
        <div class="card mt-24">
            <div class="card-header border-bottom">
                <h4 class="mb-4">Editar y Activar</h4>
                <p class="text-gray-600 text-15">Por favor ingresa los datos que deseas cambiar</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form method="post" asp-action="Edit" asp-route-id="@Model.IdUsuario">
                            <div class="row gy-4">

                                <!-- Campo de texto para el nombre del Usuario -->
                                <div class="col-sm-6 col-xs-6">
                                    <label asp-for="Nombre" class="form-label mb-8 h6">Nombre</label>
                                    <input asp-for="Nombre" type="text" class="form-control py-11"
                                           placeholder="Nombre del Usuario">
                                </div>

                                <!-- Campo de texto para la dirección -->
                                <div class="col-sm-6 col-xs-6">
                                    <label asp-for="Direccion" class="form-label mb-8 h6">Dirección</label>
                                    <input asp-for="Direccion" type="text" class="form-control py-11"
                                           placeholder="Dirección">
                                </div>

                                <!-- Campo de texto para el correo -->
                                <div class="col-sm-6 col-xs-6">
                                    <label asp-for="CorreoElectronico" class="form-label mb-8 h6">
                                        Correo
                                        Electronico
                                    </label>
                                    <input asp-for="CorreoElectronico" type="text" class="form-control py-11"
                                           placeholder="Correo">
                                </div>

                                <div>
                                    <label>Activo</label>
                                    <input type="checkbox" name="Activo" value="true" @(Model.Activo ? "checked" : "")/>
                                </div>

                                <div class="form-group">
                                    <label asp-for="IdRol" class="control-label"></label>
                                    @if (ViewBag.verificarRol)
                                    {
                                        <!-- Mostrar un campo de solo lectura para el rol Administrador -->
                                        <input type="text" class="form-control" value="Administrador" readonly/>
                                    }
                                    else
                                    {
                                        <!-- Mostrar el campo select solo para roles editables -->
                                        <select asp-for="IdRol" class="form-control">
                                            <option value="2">Docente</option>
                                            <option value="3">Padre</option>
                                        </select>
                                    }
                                    <span asp-validation-for="IdRol" class="text-danger"></span>
                                </div>

                                <!-- Botones de acción -->
                                <div class="col-12">
                                    <div class="flex-align justify-content-end gap-8">
                                        <a asp-action="Details" asp-route-id="@Model.IdUsuario"
                                           class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-9">
                                            Cancelar
                                        </a>
                                        <button type="submit" class="btn btn-main rounded-pill py-9">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>